@import url('https://fonts.googleapis.com/css2?family=Anton&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

body {
		background: #2f3542;
}

#heading_img {
		width: 700px;
		margin: 40px;
		margin-left: 100px;
		border-radius: 15px;
		box-shadow: 20px 20px 50px rgb(28, 28, 28);
		transition: 0.5s;
}

#heading_img:hover {
		transform: scale(1.1);
}

.main_heading {
		background: #ffa502;
		border-radius: 15px;
		border: 2px black solid;
		font-size: 45px;
		font-family: Anton;
		color: #2f3542;
		text-align: center;
		width: 350px;
		float: right;
		margin-right: 200px;
		margin-top: 45px;
		box-shadow: 30px 30px 60px rgb(28, 28, 28);
}

.quote {
		height: 75px;
		background: #ffa502;
		font-family: Anton;
		font-size: 50px;
		color: #2f3542;
		margin-top: 50px;
		margin-bottom: 20px;
		clip-path: polygon(0 0, 91% 0, 100% 100%, 9% 100%);
}

/* Gemini */
/* Thiết lập cơ bản cho Menu */
.menu-container {
		position: relative;
		margin: 80px 100px;
		width: 400px;
		cursor: pointer;
		font-family: Arial, sans-serif;
		font-size: 20px;
}

.menu-header {
  	background: #30336b;
  	color: white;
  	padding: 15px;
  	text-align: center;
  	font-weight: bold;
  	box-shadow: 20px 20px 50px rgb(28, 28, 28);
}

.menu-list {
  	list-style: none;
  	padding: 0;
  	margin: 0;
  	position: absolute; /* QUAN TRỌNG: Không đẩy các thành phần khác */
  	top: 100%;          /* Xuất hiện ngay sát mép dưới của menu-header */
  	left: 0;
  	width: 100%;
}

/* Trạng thái ban đầu của các mục menu */
.menu-list li {
		border-bottom: #130f40 3px solid;
		border-left: #130f40 3px solid;
		border-right: #130f40 3px solid;
  	background: #686de0;
  	height: 0; /* Ẩn các mục */
  	opacity: 0;
  	overflow: hidden;
  	transition: all 0.4s ease;
  	/* Dùng biến --i để tạo hiệu ứng bậc thang */
  	/*width: calc(100% + (var(--i) * 20px)); */
  	transform: translateX(-100%); /* Đẩy ra ngoài màn hình */
}

.menu-list li a {
  	display: block;
  	color: white;
  	padding: 15px;
  	text-decoration: none;
  	white-space: nowrap;
}

/* Hiệu ứng khi di chuột vào container */
.menu-container:hover .menu-list li {
  	height: 50px; /* Hiện độ cao */
  	opacity: 1;
  	transform: translateX(0); /* Đưa về vị trí cũ */
  	/* Tạo hiệu ứng xuất hiện lần lượt từ trên xuống */
  	transition-delay: calc(0.1s * var(--i));
}

/* Hiệu ứng hover cho từng mục để thêm phần sinh động */
.menu-list li:hover {
  	background: #4834d4;
  	padding-left: 20px;
}

.members_display {
		display: block;
		margin: auto;
		width: 800px;
		height: 850px;
		margin-top: 40px;
		right: 100px;
		border: #f39c12 solid 10px;
		border-radius: 10px;
		box-shadow: 20px 20px 50px rgb(28, 28, 28);
}

.img_set_1, .img_set_2 {
	  display: flex;
	  justify-content: space-evenly;
	  margin-top: 40px;
}

.img_set_1 img, .img_set_2 img {
		display: block;
		border: 5px solid #f39c12;
		border-radius: 10px;
	  width: 200px;
	  box-shadow: 20px 20px 50px rgb(28, 28, 28);
	  transition: 0.4s;
}

.img_set_1 img:hover, .img_set_2 img:hover {
		transform: scale(1.2);
		z-index: 10;
}

.img_title {
		display: inline-block;
		width: 500px;
		margin-top: 30px;
		font-family: Oswald, sans-serif;
		font-size: 35px;
		color: #2f3542;
		background: #ffa502;
		padding: 15px;
		clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
}

/* Gemini */
/* Màn đen phủ toàn màn hình */
.lightbox {
  	display: none; /* Mặc định ẩn */
  	position: fixed;
	  z-index: 1000;
	  top: 0; left: 0;
	  width: 100%; height: 100%;
	  background-color: rgba(0, 0, 0, 0.9); /* Màu đen trong suốt */
	  justify-content: center;
	  align-items: center;
}

/* Ảnh phóng to */
.lightbox-content {
	  max-width: 80%;
	  max-height: 80%;
	  border: 3px solid white;
	  border-radius: 5px;
  	animation: zoomIn 0.3s; /* Hiệu ứng hiện ra mượt hơn */
}

/* Nút đóng (X) */
.close {
	  position: absolute;
	  top: 20px; right: 40px;
	  color: white;
	  font-size: 50px;
	  cursor: pointer;
}

@keyframes zoomIn {
	  from { transform: scale(0); }
	  to { transform: scale(1); }
}
/* /Gemini */

.mimg img {
		z-index: 10;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 320px;
		box-shadow: 20px 20px 30px rgb(28, 28, 28);
		border: 5px solid #f39c12;
		border-radius: 10px;
}
